body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(red, blue, green);
    border-radius: 20px;
}

:root {
    /* --font-size: 1.3vw; */
    --new-font-size: 1.7vmax;
    --main-heading: 2.6vw;
    --sub-heading: 3vmax
}

.main {
    background: url(../img/Full-background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* width: 100%; */
    color: #ffff;
}

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar svg{
    margin-left: 4vw;
    display: none;
}
.navbar ul {
    display: flex;
    gap: 1.3vw;
    margin-right: 2vmax;


}

.navbar ul li{
    list-style: none;
    position: relative;
    font-size: var(--new-font-size);
}

.navbar ul li a {
    text-decoration: none;

    color: #ffff;
    text-transform: capitalize;
}

.navbar ul svg {
    color: #ffff;
    cursor: pointer;
}

.navbar h1 {
    font-size: var(--sub-heading);
    text-transform: capitalize;
}
.responsive-nav{
    padding-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    background-color: orangered;
    width: 40vw;
    left: -40vw;
     height: 100vh;
     position: fixed;
     z-index: 2;
     gap: 5vh;
     transition: 0.2s;
} 
.responsive-nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
}
.responsive-nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 4vw;
}
.responsive-nav svg{
    height: 5vw;
    cursor: pointer;
}

.quote h2 {
    width: 50%;
    font-size: var(--sub-heading);
    margin-top: 30vh;
    margin-left: 4vmax;
    text-transform: capitalize;
}

ul li::after,
p::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: 0;
    height: 0.4vh;
    width: 0%;
    background-color: orangered;
    transition: 0.3s;
}

.navbar ul li:hover::after,
.language p:hover::after {
    width: 100%;
}

.language {
    font-size: 0px;
    /* border: 2px solid red; */
    position: absolute;
    color: white;
    /* margin-top: 1vh; */
    transition: 0.3s;
    /* display: none; */
}

.language p a {
    text-decoration: none;
    color: #ffff;
}

.language p {
    position: relative;
}

.en:hover .language {
    font-size: var(--font-size);
}

.about {
    padding: 10vh 0;
    background-color: aliceblue;
}

.about .caption {
    padding: 6vh 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about p {
    width: 30vw;
    font-size: var(--new-font-size);
    /* font-weight: bold; */
}

.about h2 {
    font-size: var(--sub-heading);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10vh 0;
}

.menu h2 {
    font-size: var(--sub-heading);
    text-transform: capitalize;
}

.menu p {
    padding: 3vh 0;
    font-size: var(--new-font-size);
}

.menu .bttn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;
    padding: 4vh 0;
}

.bttn button,
.team-img-layer button, .layer-2 button {
    border: 1px solid gray;
    padding: 0.8vmax 1.8vmax;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.2s;
    text-transform: capitalize;
    font-size: 2vmax;
}

.menu .bttn button:hover {
    background-color: #ff8a00;

}

.menu-img,
.team-img {
    padding: 7vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;

}

.menu-img img,
.team-img-layer img {
    width: 20vmax;
    border-width: 0.2vw;
    border-image: linear-gradient(to right, #ff8a00, #da1b60);
    border-image-slice: 1;
    border-style: solid;
    transition: 0.2s;
}

.menu-img img:hover {
    transform: scale(1.06);
}

.wine-cocktail {
    padding: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.wine-cocktail video {
    /* margin-left: 2vw; */
    width: 45vw;
}

.wine-cocktail .content p {
    display: flex;
    font-weight: bold;
    font-size: 3.5vmax;
    text-transform: capitalize;
}

.team {
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.team h1 {
    text-transform: capitalize;
    font-size: var(--sub-heading);
}

.team p {
    font-size: var(--new-font-size);
    width: 30vw;
}

.team-content {
    display: flex;
    align-items: center;
    gap: 30vw;
}

.team-img-layer,
.wine-cocktail-beer {
    overflow: hidden;
    position: relative;
}

.layer, .event-layer .layer-2 {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1vw;
    transition: 0.3s;
    color: #ffff;
    text-transform: capitalize;
}

.team-img-layer:hover img {
    transform: scale(1.1);
}

.team-img-layer:hover .layer {
    height: 100%;
}

.layer ul li {
    list-style: none;
    margin-right: 2vw;
}

.team-img-layer button, .layer-2 button {
    background-color: white;
    border: none;
}

.team-img-layer button:hover, .layer-2 button:hover {
    background-color: #ff8a00;
    border: none;
}

.event {
    padding: 4vh 0;
    margin: 0 2.2vw;


}

.event h1 {
    margin: 0 4vw;
    text-transform: capitalize;
    font-size: var(--sub-heading);
}

.event .img {
    margin-top: 7vh;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
}

.event .img .event-layer img {
    width: 42vmax;
    height: 100%;
}

.event-layer {
    position: relative;
}
.event-layer:hover .layer-2{
    height: 100%;
}
.event-layer .layer-2{
    top: 0;
}
.contact{
    background-color: aliceblue;
    padding: 10vh 0;
    margin: 4vh 0;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
}
.contact .row-1{
    display: flex;
    align-items: center;
    gap: 20vw;
}
.row-1 ul{
    display: flex;
    gap: 1vw;
   
}
.row-1 ul li{
    list-style: none;
    font-size: 1.2vw;
    transition: 0.4s;
    text-transform: capitalize;
}
.row-1 ul li a{
    text-decoration: none;
    color: black;
}
.social-icons{
    display: flex;
    gap: 2vw;
}
.row-1 ul li:hover{
    transform: rotate(10deg);
}
.row-1 .input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row-1 h4{
    text-transform: capitalize;
}
.row-1 .input p{
    text-transform: capitalize;
}
.row-1 .input input{
    border-radius: 10px;
    border: none;
    padding: 1vmax;
    width: 18vw;
}
.row-2 .social-icons svg{
    cursor: pointer;
    transition: 0.3s;
}
.row-2 .social-icons svg:hover{
    transform: translateY(-5px);
}
footer{
    display: flex;
    justify-content: center;
    padding: 3vh 0;
    text-transform: capitalize;
}
footer a{
   color: #212529;
   font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

/* -------------------css for responsive---------------- */

@media (max-width:1100px) {
    
    .navbar ul{
       display: none;
    }
    .navbar h1{
        position: absolute;
        left: 40%;
        top: 2vh;
    }
    .navbar svg{
        display: block;
        position: absolute;
        top: 2vh;
    }
    .quote h2{
        width: 90%;
    }
    .about .caption{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .about p{
        width: 90%;
        margin-top: 2vh
    }
    .wine-cocktail{
        flex-direction: column;
    }
    .wine-cocktail video{
        width: 95%;
    }
    
    .team-content{
        flex-direction: column;
        gap: 1vh;
    }
    .team p{
        width: 90%;
    }
    .event .img .event-layer img{
        width: 100%;
    }
    .row-1 ul{
        flex-direction: column;
    }
    .row-1 ul li{
        font-size: 2vw;
    }
    .contact .row-1{
        display: flex;
        gap: 10vw;
    }
    .row-1 .input input::placeholder{
        font-size: 2.2vw;
    }
    .row-1 ul,h4{
        display: none;
    }
    .row-1 .input input{
        width: 100%;
    }
    .row-1 .input input::placeholder{
        font-size: 4vw;
    }
    .social-icons{
        gap: 6vw;
    }
   
}






